.waterProgressBar_container {
    border-radius: 15px;
    padding: 12px;
    width: 198px;
    height: 70px;
    box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.1);
    background-color: var(--white);
    margin: 0 auto;
    margin-top: 48px;
}

.waterProgressBar_h2 {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1;
    color: var(--basic-dark-blue);
}

.waterProgressBar {
    position: relative;
    background-color: #F0EFF4;
    border-radius: 9px;
    width: 174px;
    height: 6px;
}

.progress {
    height: 100%;
    border-radius: 10px;
    background-color: var(--basic-green);
    transition: width 0.2s ease-in;
}

.thumb {
    position: absolute;
    top: -2px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: 2px solid var(--basic-green);
    background-color: var(--white);
    transform: translateX(-50%);
    transition: left 0.2s ease-in;
}

.thumb_value {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    font-size: 12px;
    background-color: var(--white);
    padding: 2px 4px;
    border-radius: 4px;
    color: var(--basic-green);
    opacity: 0;
    transition: opacity 0.2s ease-in;
}

.thumb:hover .thumb_value {
    opacity: 1;
}

.progress_labels {
    display: flex;
    justify-content: space-between;
    margin-top: 7px;
    font-size: 12px;
    color: var(--text-grey-white);
}

@media screen and (min-width: 768px) {
    .waterProgressBar_container {
            width: 295px;
            height: 106px;
            padding: 20px;
            margin-top: 89px;
        }

    .waterProgressBar_h2 {
           font-size: 15px;
        }

    .waterProgressBar {
            width: 255px;
            height: 8px;
       }
}

@media screen and (min-width: 1440px) {
    .waterProgressBar_container {
            margin-top: 216px;
        }
    
    }
