.wrapper {
    display: flex;
    gap: 4px;
    justify-content: center;
    align-items: center;
    line-height: 1.28;
  
    @media (min-width:768px) {
      line-height: 1.5;
    }
  }
  
  .wrapper > span {
    color: rgba(47, 47, 47, 0.50);
  }
  
  .link {
    text-decoration: underline;
    font-weight: 700;
  }