

.title {
    font-size: 20px;
    color: var(--basic-dark-blue);
    line-height: 1.2;
    letter-spacing: 0.01em;
    width: 99px;
}    

/* Стилі при відкритому Setting, додати клас до Н3 */
.openSettingMobileTitle {
    display: none;
}

/* Стилі при відкритому Setting */



@media screen and (min-width: 768px) {
.title {
    font-size: 28px;
    line-height: 1.14;
}

/* Стилі при відкритому Setting */
.openSettingMobileTitle {
    display: block;
}
/* Стилі при відкритому Setting */
}