fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

h2,
h3,
h4,
p,
legend {
  margin: 0;
  padding: 0;
}

.amountOfWaterText {
  margin-bottom: 5px;
}

.uploadPhotoBtn {
  position: relative;
  display: inline-block;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  width: auto;
}

.btnIconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 8px;
}

.fileInput {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.genderInput::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid rgb(155, 225, 160);
}

.genderInput:checked::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8.57px;
  height: 8.57px;
  border-radius: 50%;
  background-color: rgb(155, 225, 160);
  transform: translate(-50%, -50%);
  visibility: visible;
}

input[type='radio'] {
  position: relative;
  height: 20px;
  width: 20px;
  outline: none;
}

.greenText {
  color: rgb(155, 225, 160);
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
}

.amountOfWaterText {
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0%;
  color: rgb(155, 225, 160);
}

.formulaDescription {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: rgba(47, 47, 47, 0.6);
}

.userInfoField:active,
.userInfoField:focus {
  outline: none;
  border: 1px solid rgba(47, 47, 47, 0.4);
}

.genderLabel {
  display: inline-flex;
  gap: 10px;
  align-items: center;
}
.genderLabel:first-of-type {
  margin-right: 20px;
}

.genderLegend {
  margin-bottom: 14px;
}

.userInfoContainer {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.userInfoLabel {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.normaWaterContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.normaGenderTitle {
  margin-bottom: 4px;
}

.settingsForm {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, auto);
  grid-row-gap: 24px;
}

.saveBtn {
  padding: 14px 40px 14px 40px;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background: rgb(155, 225, 160);
  border: none;
  margin-top: 40px;
  cursor: pointer;
}

.userAvatarContainer {
  width: auto;
  height: 103px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 40px;
}
.formulaDescriptionContainer {
  display: flex;
  flex-direction: column;
}

.userAvatar {
  width: 75px;
  height: 75px;
  border-radius: 100%;
  border: 1px solid black;
}

.userInfoField {
  border: 1px solid rgba(47, 47, 47, 0.15);
  border-radius: 15px;
  padding: 14px 0px 14px 16px;
}

.inputTitle {
  color: rgb(50, 63, 71);
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}

.inputText {
  color: rgb(47, 47, 47);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.iconUser {
  width: 75px;
  height: 75px;
  color: rgb(73, 72, 72);
}

.saveBtn:hover,
.saveBtn:focus {
  background: rgb(135, 210, 141);
}

@media screen and (min-width: 768px) {
  .inputText,
  .formulaDescription,
  .greenText {
    font-size: 16px;
    line-height: 24px;
  }

  .inputTitle {
    font-size: 18px;
    line-height: 24px;
  }

  .userInfoField {
    padding: 16px 0px 16px 16px;
  }

  .amountOfWaterText {
    font-size: 15px;
    line-height: 22.4px;
  }

  .saveBtn {
    padding: 16px 50px 16px 50px;
  }

  .normaWaterContainer {
    flex-direction: row;
    gap: 28px;
  }

  .formulaDescriptionContainer {
    display: block;
  }
  .amountOfWaterContainer {
    display: flex;
    align-items: end;
    gap: 5px;
  }

  .userAvatarContainer {
    height: 134px;
  }

  .userAvatar {
    width: 100px;
    height: 100px;
  }

  .iconUser {
    width: 100px;
    height: 100px;
  }
}

@media screen and (min-width: 1440px) {
  .settingsForm {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 24px;
    grid-template-rows: repeat(3, auto);
    grid-auto-flow: column;
  }

  .settingsForm > div:nth-child(4) {
    grid-row: 2;
  }
}
.normaWaterTextContainer {
  padding: 16px;
  border: 1px solid rgba(47, 47, 47, 0.15);
  border-radius: 15px;
}
.userInfoField.error {
  border-color: rgb(239, 80, 80);
}

.error {
  color: rgb(239, 80, 80);
}
svg {
  fill: transparent;
  stroke: currentColor;
}
.activeTimeContainer {
  display: flex;
  column-gap: 12.69px;
}
