.welcomeSection {
  border-radius: 30px;
  text-align: left;
  background-color: #f0eff4;
  box-sizing: border-box;
  padding: 24px 16px 67px 16px;
  width: 100%;
}

.content {
  margin-top: 74px;
}

.text {
  font-size: 14px;
  color: #2f2f2f;
  line-height: 1.29;
  letter-spacing: 0.06em;
}

.header {
  margin-top: 16px;
  color: #323f47;
  font-size: 38px;
  line-height: 1;
  letter-spacing: -0.01em;
}

.buttons {
  display: flex;
  margin-top: 32px;
  gap: 10px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 46px;
  border-radius: 30px;
  color: #323f47;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.29;
  letter-spacing: -0.01em;
}

.buttonTryTracker {
  background-color: var(--basic-green);
  width: 116px;
  transition: background-color 0.5s ease;
}

.buttonTryTracker:hover,
.buttonTryTracker:focus {
  background-color: var(--green-hover);
}

.buttonSignIn {
  background-color: transparent;
  border: 1px solid var(--basic-dark-blue);
  width: 104px;
  transition: color 0.5s ease, border 0.5s ease;
}

.buttonSignIn:hover,
.buttonSignIn:focus {
  border: 1px solid var(--green-hover);
  color: var(--green-hover);
}

@media screen and (min-width: 768px) {
  .welcomeSection {
    width: 704px;
    height: 498px;
    padding: 32px 32px 50px 32px;
    border: none;
  }

  .content {
    margin-top: 50px;
    padding-left: 64px;
  }

  .text {
    font-size: 16px;
    line-height: 24px;
  }

  .header {
    font-size: 64px;
    line-height: 70px;
  }

  .buttons {
    gap: 16px;
  }

  .buttons:last-child {
    margin-right: 0;
  }

  .button {
    width: 169px;
    height: 60px;
    margin: 0;
    font-size: 16px;
    line-height: 24px;
  }

  .buttonSignIn {
    width: 135px;
  }
}

@media screen and (min-width: 1440px) {
  .welcomeSection {
    width: 672px;
    height: 736px;
    border: none;
    padding: 32px 32px 188px 32px;
  }

  .content {
    margin-top: 132px;
  }

  .text {
    font-size: 16px;
    line-height: 24px;
  }

  .header {
    font-size: 80px;
    line-height: 76px;
  }
}
