.calendarList {
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
}

@media screen and (min-width: 768px) {
    .calendarList {
        gap: 48px;
    }
}

@media screen and (min-width: 1440px) {
    .calendarList {
        gap: 43px;
    }
}