.calendarList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 18px;
}

@media screen and (min-width: 768px) {
    .calendarList {
        gap: 15px 48px;
    }
}

@media screen and (min-width: 1440px) {
    .calendarList {
        gap: 15px 43px;
    }
}