.ReactModal_Overlay {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 1000;
    opacity: 0;
    visibility: hidden;

    background-color: rgba(47, 47, 47, 0.6);
    transition: opacity 300ms ease-in-out,visibility 300ms ease-in-out;
    /* transition-property: opacity ,visibility;
    transition-duration: 300ms,300ms;
    transition-timing-function: ease-in-out,ease-in-out; */
}

.ReactModal_Overlay.isOpen{
    opacity: 1;
    visibility: visible;
}

.closeBtn {
    position: absolute;
    background-color: transparent;
    top: 15px;
    right: 15px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    cursor: pointer;
}

.closeIcon {
    width: 100%;
    height: 100%;
    transition: color 300ms ease-in-out;
}

.closeIcon:hover {
    color: var(--green-hover);
}

.reactModal_Content {
    position: absolute;
    top: 20%;
    left: 50%;
    /* display: flex; */
    padding: 40px 20px;
    max-height: 90%;
    overflow-y: auto;
    min-width: 343px;
    border-radius: 15px;
    background-color: var(--white);
    box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.1);
    transform: translate(-50%, 10%);
    transition: transform 300ms ease-in-out;
}

@media screen and (min-width: 768px) {
.reactModal_Content {
        padding: 40px 40px;
    }

.closeBtn {
        width: 28px;
        height: 28px;
           
    }
}

 .ReactModal__Body{
     overflow: hidden;
 }