.calendarHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 24px;
    color: #323F47;
}

.month {
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -0.01em;
}

.data {
    font-weight: 700;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.01em;
}

.CalendarPaginationFa {
    display: flex;
    align-items: center;
    gap: 16px;
}

.CalendarPaginationFa button {
    background: none;
    padding: 0;
}

.icon {
    width: 8px;
    height: 12px;
}



.active {
    opacity: 0.5;
}

.pieChart {
    width: 20px;
    height: 20px;
}

@media screen and (min-width: 768px) {
    .CalendarPaginationFa {
        gap: 20px;
    }

    .month {
        font-size: 28px;
        line-height: 114%;
    }

    .data {
        font-size: 16px;
        line-height: 150%;
    }

    .pieChart {
        width: 24px;
        height: 24px;
    }
}

@media screen and (min-width: 1440px) {}