.container {
    min-width: 375px;
    padding: 0 32px;
    min-height: 100vh;
}

@media screen and (min-width: 768px) {
    .container {
        min-width: 768px;
        padding: 0 32px;
    }
}

@media screen and (min-width: 1440px) {
    .container {
        min-width: 1440px;
        padding: 0 24px;
    }

}