/* SignUpForm.module.css */

.customGoogleButton {
    display: flex;
    align-items: center;
    background-color: #4285F4; /* Google Blue */
    color: rgb(7, 1, 1);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
    width: 100%; /* Optional: Full width button */
  }
  
  .customGoogleButton:hover {
    background-color: #357ae8;
  }
  
  .googleIcon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  