.trackerPageWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px 0;
}

.waterDetailedInfoWrapper {
  background-color: var(--background-grey);
  border-radius: 30px;
  padding: 40px 20px;
}

@media screen and (min-width: 1440px) {
  .trackerPageWrapper {
    flex-direction: row;
    gap: 32px;
  }
}

@media screen and (min-width: 768px) {
  .trackerPageWrapper {
    padding: 32px 0;
  }
}
