button{
    background-color: transparent;
}
.button {
    border-radius: 50%;
    border: none;
    background-color: rgba(50, 63, 71, 0.2);
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 14px;
    color: #323f47;
    margin-bottom: 6px;
}

.done {
    background-color: #fff;
}

.itemPercentage {
    font-weight: 400;
    font-size: 10px;
    line-height: 100%;
    color: rgba(47, 47, 47, 0.6);
}

.calendarItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc((100% - 108px)/7);
}

.today {
    border: #323f47 2px solid;
    color: #9be1a0;
}

.selected {
    background-color: #323f47;
    color: #9be1a0;
}

@media screen and (min-width: 768px) {
    .calendarItem {
        width: calc((100% - 336px)/8);
    }

    .button {
        width: 38px;
        height: 38px;
        font-size: 16px;
        margin-bottom: 4px;
    }
}

@media screen and (min-width: 1440px) {
    .calendarItem {
        width: calc((100% - 301px)/8);
    }

    .itemPercentage {
        font-size: 12px;
        line-height: 187%;
    }

}