.containerPage {
  padding: 16px 0;
}

.passwordResetSection {
  background-color: var(--background-grey);
  border-radius: 30px;
  padding: 24px 16px 217px 16px;
}
.title {
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.01em;
  color: var(--basic-dark-blue);
  margin-bottom: 32px;
  margin-top: 185px;
}

@media (min-width: 768px) {
  .containerPage {
    padding: 32px 0;
  }

  .passwordResetSection {
    width: 704px;
    padding: 32px 32px 286px 32px;
  }

  .title {
    font-size: 36px;
    margin-top: 246px;
    margin-left: 102px;
  }
}

@media (min-width: 1440px) {
  .passwordResetSection {
    width: 1376px;
    padding: 32px 32px 174px 32px;
  }

  .title {
    margin-top: 134px;
    margin-left: 436px;
  }
}
