.waterDailyNorma_wrapper {
    border-radius: 15px;
    padding: 12px;
    width: 102px;
    height: 54px;
    box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.1);
    background-color: var(--white);
    margin-top: 78px;
}

.waterDailyNorma {
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--basic-dark-blue);
}

.waterDailyNorma_text {
    color: var(--text-grey-white);
    font-weight: 400;
    font-size: 10px;
    line-height: 1;
    margin-top: 6px;
}

@media screen and (min-width: 768px) {
    .waterDailyNorma_wrapper {
        margin-top: 101px;
        width: 129px;
        height: 78px;
        }

    .waterDailyNorma {          
        font-size: 14px;
        line-height: 1.49;
        }
    
    .waterDailyNorma_text {
        font-size: 12px;
        line-height: 1.87;   
        }
}

@media screen and (min-width: 1440px) {
    .waterDailyNorma {
        font-size: 15px;
        }
} 