.containerPage {
  display: flex;
  padding: 16px 0;
}

.signInSection {
  background-color: var(--background-grey);
  border-radius: 30px;
  padding: 24px 16px 183px 16px;
}

.advSectionWrapper {
  display: none;
}

.title {
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.01em;
  color: var(--basic-dark-blue);
  margin-bottom: 32px;
  margin-top: 172px;
}

.textWrapper {
  text-align: center;
}

.alreadyHaveAccount {
  color: rgba(47, 47, 47, 0.5);
  font-size: 14px;
}

.signInLink {
  color: var(--text-grey);
  font-size: 14px;
  text-decoration: underline;
  font-weight: 700;
}

.signInLink:hover {
  color: var(--green-hover);
  text-decoration: none;
}

@media screen and (min-width: 375px) {
  .signInSection {
    width: 343px;
  }
}

@media (min-width: 768px) {
  .containerPage {
    padding: 32px 0;
  }

  .signInSection {
    width: 704px;
    padding: 32px 32px 259px 32px;
  }

  .alreadyHaveAccount {
    font-size: 16px;
  }

  .signInLink {
    font-size: 16px;
  }

  .titleFormWrapper {
    display: flex;
    flex-direction: column;
  }

  .title {
    font-size: 36px;
    margin-top: 225px;
    margin-left: 102px;
  }
}

@media (min-width: 1440px) {
  .containerPage {
    gap: 32px;
  }

  .signInSection {
    width: 672px;
    padding: 32px 32px 147px 32px;
  }

  .title {
    margin-top: 113px;
    margin-left: 86px;
  }

  .advSectionWrapper {
    display: flex;
  }
}
